<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='css/style.css')
        title Birthdays
    body
        div.wrapper
            h1.header__title Birthdays
        sector.main
            .wrapper 
                .birthday
                    .birthday__person
                        p Ivan Vas 
                    .timer
                        .card__timer 
                            .card__timer_number 10
                            .wrap__string
                            p days
                        .card__timer 
                            .card__timer_number 15
                            .wrap__string
                            p hours
                        .card__timer
                            .card__timer_number 20
                            .wrap__string
                            p minutes                        
                        .card__timer
                            .card__timer_number 48
                            .wrap__string
                            p seconds                         



        script(src="js.script.js")