<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='css/style.css')
        title Birthdays
    body               
        div.wrapper            
            h1.header__title Birthdays
        sector.main
            .wrapper.main
                form.birthdaySendData
                    p Введите ваше имя и выберете дату рождения:
                    input(type='text' placeholder='введите ваше имя')
                    input(type='date' name='birthday' value='2000-01-01' max='2021-02-02' )
                    input(type='submit' name='submit' value='Send')                
        script(src="js/script.js")
        //- script(src="js/test.js")